.main_container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
    /* padding: 20px 0; */
    height: calc(100vh - 11.5%);
    padding: 10px;
}
