.sidebar {
    width: 250px;
    min-width: 180px;
    left: 0;
    height: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.sidebar .text {
    text-align: center;
    /* bor */
}

.sidebar .text img {
    width: 60%;
}

.sidebar ul {
    /* background-color: red; */
    height: 100%;
    width: 100%;
    list-style: none;
}

.sidebar ul li {
    line-height: 3.4em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
}

.sidebar ul li:hover {
    background-color: #3c6e6b34;
}

.sidebar ul li a {
    position: relative;
    color: black;
    text-decoration: none;
    font-size: 1.1em;
    padding-left: 1em;
    font-weight: 500;
    display: block;
    width: 100%;
    border-right: 3px solid transparent;
    cursor: pointer;
}

.sidebar ul li.active a {
    color: #406e6b;
    background-color: #c8d5b9ad;
    border-right-color: #68b0ab;
}

.noti {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.count {
    background-color: #68b0ab9a;
    height: 25px;
    width: 25px;
    border-radius: 7px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0.7em;
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
