.nav {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px,
        rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.nav h2 {
    font-size: 2.1em;
    padding-left: 0.3em;
}

.nav ul {
    display: flex;
    align-items: center;
}

.nav ul li {
    font-size: 1em;
    margin: 0 0.4em;
    list-style: none;
}

.nav ul li span {
    font-weight: 600;
}

.nav ul li button {
    font-size: 1.2em;
    padding: 0.3em 0.6em;
    border-style: none;
    outline: none;
    background-color: #68b0ab;
    border-radius: 0.2em;
    cursor: pointer;
}
