html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
    background-color: #68b0ab;
    border-radius: 10px;
}

/* Hide scrollbar when not hovered */
::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(224, 224, 224);
}
::-webkit-scrollbar-thumb:hover {
    background-color: #98ceca;
}

.hidden {
    visibility: hidden;
}

.disable {
    opacity: 0.9;
    font-weight: 600;
}

.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.sidebar ul .sale_show.show {
    display: block;
}

.sidebar ul .pur_show.show {
    display: block;
}

section {
    display: flex;
    height: 100vh;
    justify-content: flex-start;
    /* border: 2px solid red; */
    overflow: hidden;
}

.main {
    width: 100%;
    /* padding: 1em; */
}

/* new */
.sell_container {
    padding: 0 1em 1em 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

.sell_container .text {
    width: 20em;
}

.tabel_container {
    padding: 1em;
}

[type*="remove"] div {
    background-color: rgba(255, 0, 0, 0.219);
    width: 7em;
    margin: auto;
    padding: 5px 0;
    border-radius: 6px;
}
[type*="sale"] div {
    background-color: rgba(255, 145, 0, 0.219);
    margin: auto;
    padding: 5px 0;
    width: 7em;
    border-radius: 6px;
}
[type*="add"] div {
    background-color: rgba(60, 255, 0, 0.219);
    margin: auto;
    padding: 5px 0;
    width: 7em;
    border-radius: 6px;
}

.css-78c6dr-MuiToolbar-root-MuiTablePagination-toolbar {
    overflow: hidden;
}
